body {
    background-color: rgb(236, 230, 221);
    align-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    color: chocolate;
}

p {
    text-align: justify;
    background-color: rgb(207, 245, 232);
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.5;
    font: 16px;

}

a {
    text-decoration: none;
    color: chocolate;
    font: 15px Arial, Verdana, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 20px;
    margin-right: 2px;

}

img {
    position: inherit;

    width: 50%
}



.good {
    text-align: center;
}

.ask {
    text-align: center;
}

.open {
    color: blue;
}